<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
			<title>STL viewer</title>
			<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
				
			<link rel="stylesheet" type="text/css" href="/styles/daniel.css">
	</head>
	<body>
		<div id="info">STL viewer</div>
		<script type="text/javascript" src="/js/_three.min.js"></script>
		<script type="text/javascript" src="/js/_STLLoader.min.js"></script>
		<script type="text/javascript" src="/js/OrbitControls.js"></script>
		<script type="text/javascript" src="/js/dat.gui.min.js"></script>
		<script type="text/javascript" src="/js/daniel.js"></script>
		</body>
</html>
