<!DOCTYPE html>
<html lang="en" ng-app='MyApp'>
	<head>
		<title>three.js webgl - STL</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<link rel='stylesheet' href='/styles/style.css'></link>
		<link rel='stylesheet' href='/styles/ngThree.css'></link>
	</head>
	<body>
		<section class='header'>
			<div class='img-angular'>
				<img src='http://www.icaninfotech.com/wp-content/uploads/2015/04/angularjs-development-services.png'></img>
			</div>
			<div class='con-header'>
				<h1>ngThree <small><i>alpha v0.0.1</i></small></h1>
				<hr>
				<span>created by <a href='https://github.com/ohpyupi' target='_blank'>ohpyupi</a></span>
			</div>
			<div class='img-three'>
				<img src='https://www.digitaltactics.co.uk/wp-content/uploads/sites/2/2015/11/three-js-logo-480x368.png'></img>
			</div>
		</section>
		<section class='content'>
			<div class='row'>
			<div class='col-1-4'>
			</div>
			<div class='col-1-2'>
				<div class='row'>
					<h2>Introduction</h2>
					<p>
						ngThree now at alpha test version provides a 3D model viewer for STL objects. You can test it with various stl files that you can easily find in the web, such as <a href='https://www.thingiverse.com/' target='_blank'>thingiverse</a>.
					</p>
					<p>
						Before integrating ngThree to your application, <a href='https://jquery.com/' target='_blank'>jquery</a>, <a href='https://angularjs.org/' target='_blank'>angular.js</a> and <a href='https://threejs.org/' target='_blank'>three.js</a> is required. Please check the prerequiste section for more details.
					</p>
				</div>
				<div class='row'>
					<h2>How to start</h2>
					<div class='con-codepen'>
<p data-height="301" data-theme-id="dark" data-slug-hash="qqwNrv" data-default-tab="html" data-user="supergentle" data-embed-version="2" data-pen-title=" ngThree" class="codepen">See the Pen <a href="http://codepen.io/supergentle/pen/qqwNrv/"> ngThree</a> by Hoseong Lee (<a href="http://codepen.io/supergentle">@supergentle</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
					</div>
				</div>
				<div class='row'>
					<h2>Examples</h2>
					<section stl-handler class='ng-three view' data-url='/stl/pikachu.stl'>
					</section>
				</div>
				<div class='row'>
					<h2>To be updated</h2>
					<ul>
						<li>color picker.</li>
						<li>directional lights.</li>
						<li>Multiple viewers in a page.</li>
					<ul>
				</div>
			</div>
			</div><!-- .row -->
		</section>
		<footer>
			<div class='con-footer'>
			</div>
		</footer>
		<script src='/assets/angular/angular.min.js'></script>
		<script src='/assets/jquery/dist/jquery.min.js'></script>
		<script src='/js/three.js/build/three.min.js'></script>
		<script src='/js/three.js/examples/js/loaders/STLLoader.js'></script>
		<script src='/js/OrbitControls.js'></script>
		<script src='/js/ngThree.js'></script>
		<script src='/js/ngThreeSTL.js'></script>
	</body>
</html>
